.standart__item__text, .standart__text, .services__button, .services__item__text, .services__text, .hero__button, .hero__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.specialization__title, .standart__title, .services__title, .hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
label,
input,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.is-hidden {
  display: none;
}

.burger__menu--open {
  background: none;
  border: none;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  padding: 12px 8px;
}
@media screen and (min-width: 768px) {
  .burger__menu--open {
    display: none;
  }
}

.burger__menu--close {
  background: none;
  border: none;
  position: absolute;
  top: 21px;
  right: 25px;
  display: inline-block;
  padding: 11px 11px;
}
@media screen and (min-width: 768px) {
  .burger__menu--close {
    display: none;
  }
}

.menu__open__svg {
  width: 34px;
  height: 26px;
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .menu__open__svg {
    display: none;
  }
}

.menu__close__svg {
  display: block;
  width: 18px;
  height: 18px;
  fill: #fff;
}

.burger__mob {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .burger__mob {
    display: none;
  }
}

.hero__title {
  margin-bottom: 50px;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 48px;
  }
}

.services__title {
  text-align: center;
  margin-bottom: 32px;
  color: #323232;
}

.services__item__pretitle {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.standart__title {
  text-align: left;
  color: #323232;
  margin-bottom: 60px;
}

.standart__item__pretitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  color: #000;
}

.specialization__title {
  margin-bottom: 30px;
}

.hero {
  position: relative;
  z-index: 1;
  padding: 219px 60px;
  margin-bottom: 110px;
  background-image: url(../../img/Hero@1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/Hero@2x.png);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/Hero@2x.png);
  }
}

.hero__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__text {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero__button {
  padding: 13px 36px;
  border: none;
  border-radius: 30px;
  background: #4985ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.services {
  margin-bottom: 205px;
}

.services__text {
  text-align: center;
  color: #999;
  margin-bottom: 70px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
  margin-bottom: 55px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.services__div__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 46px;
}

.services__item__text {
  text-align: left;
  font-size: 14px;
  color: #999;
}

.services__svg {
  width: 40px;
  height: 40px;
  fill: #4985ff;
  margin-right: 52px;
  margin-top: 35px;
}

.services__button {
  background: #4985ff;
  border-radius: 30px;
  padding: 13px 36px;
  -webkit-box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
          box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  border: none;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.standart {
  margin-bottom: 70px;
}

.standart__text {
  text-align: left;
  margin-bottom: 42px;
  color: #999;
}

.standart__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #4985ff;
  margin-bottom: 100px;
}

.standart__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.standart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standart__item__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.standart__item__text {
  color: #999;
}

.standart__svg {
  width: 30px;
  height: 30px;
  fill: #4985ff;
}

.specialization__div {
  position: relative;
  background-color: #c4c4c4;
  background: -webkit-gradient(linear, left top, right top, from(#504dc2), to(#5f12d0));
  background: linear-gradient(90deg, #504dc2 0%, #5f12d0 100%);
  padding-top: 60px;
  padding-bottom: 160px;
}

.specialization__img {
  position: absolute;
  top: 450px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}