@import "utils/mixins";
@import "utils/variables";
@import "base/reset";
@import "components/container";
@import "components/burgermenu";
@import "components/title";
@import "layouts/header";
@import "layouts/hero";
@import "layouts/services";
@import "layouts/standart";
@import "layouts/specialization";