%min-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
%title-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
}
%specializ-title {
  font-weight: 600;
  font-size: 18px;
}
