.hero__title {
  margin-bottom: 50px;
  @extend%title-text;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}
.services__title {
  @extend%title-text;
  text-align: center;
  margin-bottom: 32px;
  color: $dark-323232;
}
.services__item__pretitle {
  font-weight: 600;
  font-size: 18px;
  color: $black-000;
}
.standart__title {
  text-align: left;
  @extend%title-text;
  color: $dark-323232;
  margin-bottom: 60px;
}
.standart__item__pretitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  color: $black-000;
}
.specialization__title {
  @extend%title-text;
  margin-bottom: 30px;
}
