.header__navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-end;
  }
}
.header__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 39px;
  align-items: center;
}
.header__link {
  position: relative;
  color: $hero-text-fff;
  @extend%min-text;
  font-weight: 500;
  &:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -49px;
    width: 100%;
    border: 1px solid #fff;
    height: 0px;
  }
}
.outline__header {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #a1a1a1;
    width: 100%;
    height: 0px;
    opacity: 0.5;
  }
}
