.services {
  margin-bottom: 205px;
}
.services__text {
  @extend %min-text;
  text-align: center;
  color: $grey-999;
  margin-bottom: 70px;
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 55px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.services__item {
  display: flex;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 353px;
    display: flex;
    align-items: center;
  }
}
.services__div__text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 46px;
  @media screen and (min-width: 768px) {
    margin-left: 52px;
  }
}
.services__item__text {
  text-align: left;
  @extend %min-text;
  font-size: 14px;
  color: $grey-999;
}
.services__svg {
  width: 40px;
  height: 40px;
  fill: $button-blue-4985ff;
  margin-right: 52px;
  margin-top: 35px;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-top: 0px;
    display: block;
  }
}
.services__button {
  background: $button-blue-4985ff;
  border-radius: 30px;
  padding: 13px 36px;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  border: none;
  @extend%min-text;
  font-weight: 500;
  text-align: center;
  color: $hero-text-fff;
}
