.specialization__div {
  position: relative;
  background-color: $specialization-c4c4c4;
  background: linear-gradient(90deg, #504dc2 0%, #5f12d0 100%);
  padding-top: 60px;
  padding-bottom: 160px;
}
.specialization__img {
  position: absolute;
  top: 450px;
  transform: translate(-50%, -50%);
}
